<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.mapper.OuMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.pojo.Ou" >
    <id column="ou_uuid" property="ouUuid" jdbcType="VARCHAR" />
    <result column="ou_res_uuid" property="ouResUuid" jdbcType="VARCHAR" />
    <result column="ou_type" property="ouType" jdbcType="INTEGER" />
    <result column="ou_id" property="ouId" jdbcType="VARCHAR" />
    <result column="ou_name" property="ouName" jdbcType="VARCHAR" />
    <result column="ou_name2" property="ouName2" jdbcType="VARCHAR" />
    <result column="ou_desc" property="ouDesc" jdbcType="VARCHAR" />
    <result column="ou_manager_uuid" property="ouManagerUuid" jdbcType="VARCHAR" />
    <result column="ou_parent_uuid" property="ouParentUuid" jdbcType="VARCHAR" />
    <result column="ou_tgt_uuid" property="ouTgtUuid" jdbcType="VARCHAR" />
    <result column="ou_last_recon_time" property="ouLastReconTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ou_uuid, ou_res_uuid, ou_type, ou_id, ou_name, ou_name2, ou_desc, ou_manager_uuid, 
    ou_parent_uuid, ou_tgt_uuid, ou_last_recon_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ssm.pojo.OuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ou
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ou
    where ou_uuid = #{ouUuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ou
    where ou_uuid = #{ouUuid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ssm.pojo.OuExample" >
    delete from ou
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ssm.pojo.Ou" >
    insert into ou (ou_uuid, ou_res_uuid, ou_type, 
      ou_id, ou_name, ou_name2, 
      ou_desc, ou_manager_uuid, ou_parent_uuid, 
      ou_tgt_uuid, ou_last_recon_time)
    values (#{ouUuid,jdbcType=VARCHAR}, #{ouResUuid,jdbcType=VARCHAR}, #{ouType,jdbcType=INTEGER}, 
      #{ouId,jdbcType=VARCHAR}, #{ouName,jdbcType=VARCHAR}, #{ouName2,jdbcType=VARCHAR}, 
      #{ouDesc,jdbcType=VARCHAR}, #{ouManagerUuid,jdbcType=VARCHAR}, #{ouParentUuid,jdbcType=VARCHAR}, 
      #{ouTgtUuid,jdbcType=VARCHAR}, #{ouLastReconTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.pojo.Ou" >
    insert into ou
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ouUuid != null" >
        ou_uuid,
      </if>
      <if test="ouResUuid != null" >
        ou_res_uuid,
      </if>
      <if test="ouType != null" >
        ou_type,
      </if>
      <if test="ouId != null" >
        ou_id,
      </if>
      <if test="ouName != null" >
        ou_name,
      </if>
      <if test="ouName2 != null" >
        ou_name2,
      </if>
      <if test="ouDesc != null" >
        ou_desc,
      </if>
      <if test="ouManagerUuid != null" >
        ou_manager_uuid,
      </if>
      <if test="ouParentUuid != null" >
        ou_parent_uuid,
      </if>
      <if test="ouTgtUuid != null" >
        ou_tgt_uuid,
      </if>
      <if test="ouLastReconTime != null" >
        ou_last_recon_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ouUuid != null" >
        #{ouUuid,jdbcType=VARCHAR},
      </if>
      <if test="ouResUuid != null" >
        #{ouResUuid,jdbcType=VARCHAR},
      </if>
      <if test="ouType != null" >
        #{ouType,jdbcType=INTEGER},
      </if>
      <if test="ouId != null" >
        #{ouId,jdbcType=VARCHAR},
      </if>
      <if test="ouName != null" >
        #{ouName,jdbcType=VARCHAR},
      </if>
      <if test="ouName2 != null" >
        #{ouName2,jdbcType=VARCHAR},
      </if>
      <if test="ouDesc != null" >
        #{ouDesc,jdbcType=VARCHAR},
      </if>
      <if test="ouManagerUuid != null" >
        #{ouManagerUuid,jdbcType=VARCHAR},
      </if>
      <if test="ouParentUuid != null" >
        #{ouParentUuid,jdbcType=VARCHAR},
      </if>
      <if test="ouTgtUuid != null" >
        #{ouTgtUuid,jdbcType=VARCHAR},
      </if>
      <if test="ouLastReconTime != null" >
        #{ouLastReconTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ssm.pojo.OuExample" resultType="java.lang.Integer" >
    select count(*) from ou
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ou
    <set >
      <if test="record.ouUuid != null" >
        ou_uuid = #{record.ouUuid,jdbcType=VARCHAR},
      </if>
      <if test="record.ouResUuid != null" >
        ou_res_uuid = #{record.ouResUuid,jdbcType=VARCHAR},
      </if>
      <if test="record.ouType != null" >
        ou_type = #{record.ouType,jdbcType=INTEGER},
      </if>
      <if test="record.ouId != null" >
        ou_id = #{record.ouId,jdbcType=VARCHAR},
      </if>
      <if test="record.ouName != null" >
        ou_name = #{record.ouName,jdbcType=VARCHAR},
      </if>
      <if test="record.ouName2 != null" >
        ou_name2 = #{record.ouName2,jdbcType=VARCHAR},
      </if>
      <if test="record.ouDesc != null" >
        ou_desc = #{record.ouDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.ouManagerUuid != null" >
        ou_manager_uuid = #{record.ouManagerUuid,jdbcType=VARCHAR},
      </if>
      <if test="record.ouParentUuid != null" >
        ou_parent_uuid = #{record.ouParentUuid,jdbcType=VARCHAR},
      </if>
      <if test="record.ouTgtUuid != null" >
        ou_tgt_uuid = #{record.ouTgtUuid,jdbcType=VARCHAR},
      </if>
      <if test="record.ouLastReconTime != null" >
        ou_last_recon_time = #{record.ouLastReconTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ou
    set ou_uuid = #{record.ouUuid,jdbcType=VARCHAR},
      ou_res_uuid = #{record.ouResUuid,jdbcType=VARCHAR},
      ou_type = #{record.ouType,jdbcType=INTEGER},
      ou_id = #{record.ouId,jdbcType=VARCHAR},
      ou_name = #{record.ouName,jdbcType=VARCHAR},
      ou_name2 = #{record.ouName2,jdbcType=VARCHAR},
      ou_desc = #{record.ouDesc,jdbcType=VARCHAR},
      ou_manager_uuid = #{record.ouManagerUuid,jdbcType=VARCHAR},
      ou_parent_uuid = #{record.ouParentUuid,jdbcType=VARCHAR},
      ou_tgt_uuid = #{record.ouTgtUuid,jdbcType=VARCHAR},
      ou_last_recon_time = #{record.ouLastReconTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.pojo.Ou" >
    update ou
    <set >
      <if test="ouResUuid != null" >
        ou_res_uuid = #{ouResUuid,jdbcType=VARCHAR},
      </if>
      <if test="ouType != null" >
        ou_type = #{ouType,jdbcType=INTEGER},
      </if>
      <if test="ouId != null" >
        ou_id = #{ouId,jdbcType=VARCHAR},
      </if>
      <if test="ouName != null" >
        ou_name = #{ouName,jdbcType=VARCHAR},
      </if>
      <if test="ouName2 != null" >
        ou_name2 = #{ouName2,jdbcType=VARCHAR},
      </if>
      <if test="ouDesc != null" >
        ou_desc = #{ouDesc,jdbcType=VARCHAR},
      </if>
      <if test="ouManagerUuid != null" >
        ou_manager_uuid = #{ouManagerUuid,jdbcType=VARCHAR},
      </if>
      <if test="ouParentUuid != null" >
        ou_parent_uuid = #{ouParentUuid,jdbcType=VARCHAR},
      </if>
      <if test="ouTgtUuid != null" >
        ou_tgt_uuid = #{ouTgtUuid,jdbcType=VARCHAR},
      </if>
      <if test="ouLastReconTime != null" >
        ou_last_recon_time = #{ouLastReconTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ou_uuid = #{ouUuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.pojo.Ou" >
    update ou
    set ou_res_uuid = #{ouResUuid,jdbcType=VARCHAR},
      ou_type = #{ouType,jdbcType=INTEGER},
      ou_id = #{ouId,jdbcType=VARCHAR},
      ou_name = #{ouName,jdbcType=VARCHAR},
      ou_name2 = #{ouName2,jdbcType=VARCHAR},
      ou_desc = #{ouDesc,jdbcType=VARCHAR},
      ou_manager_uuid = #{ouManagerUuid,jdbcType=VARCHAR},
      ou_parent_uuid = #{ouParentUuid,jdbcType=VARCHAR},
      ou_tgt_uuid = #{ouTgtUuid,jdbcType=VARCHAR},
      ou_last_recon_time = #{ouLastReconTime,jdbcType=TIMESTAMP}
    where ou_uuid = #{ouUuid,jdbcType=VARCHAR}
  </update>
</mapper>